:root{
    --color-fondo: #1e3a5f;
    --color-primario: #e8b4a0;
    --color-texto: #DAE7F7;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;   
    background-color: var(--color-fondo);
    color: var(--color-primario);
}

.encabezado{
    display: flex;
    width: auto;
    height: 10%;/*ALTURA*/
    padding: 0px 0px 80px;
    align-items:center;
    justify-content:space-between;
}

#logo{
    display: inline-block;
    width: 20%;
    height: auto;
}

#nombrebarber{
    display: inline-flex;
    font-size: 4em;
    width: auto;
    height: auto;
}

/*==================== MENU NAVEGACION ====================*/

.menu{
    display: flex;
    width: 100%;
    font-size: 1.3em;
    padding: 0px 25px 80px;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    gap: 20%;
}

.menu img{
    width: 20%;
    height: auto;
    padding: 2%;
}

.navegacion{
    width: 31%;
    height: auto;
    padding: 1%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(246, 244, 244, 0.15);
    
}
a{
    color: var(--color-primario);
    text-decoration: none;
}
.navegacion:hover{
    transform: scale(95%);
    border: 2px solid;
    border-color: var(--color-primario);
    border-radius: 50px;
    text-decoration:underline;
    
}
.navegacion:hover img{
    transform:translateY(-80px) translateX(80px) scale(300%);
    width: 15%;
    transition:all .4s;
}
.navegacion:hover a{
    transform: translateX(-30px);
    font-size: 1.5em;
    transition:all .4s;
}

/*==================== SERVICIOS ====================*/

.servicios{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 25px 10px;
    font-size: 0;
    text-align: center;
    color: black;
    gap: 20px;
}

.servicios img{
    display: inline-flex;
    width: 80%;
    height: auto;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

#card{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 3px;
    border-radius: 25px;
    border: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    font-size: 1rem;
    color: var(--color-primario);
    align-content: space-around;
}

.contenedor-com{
    display: flex;
    width: auto;
    height: 31%;
    padding: 1%;
    margin: 5% 0 15%;

    font-size: 1em;
}

.items{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2%;
    
}

.items p{
    text-align: start;
    margin: 10% 0 0;
}

.titulo{
    text-align: center;
    padding: 5px;
    margin: 12% auto 5%;
}

/*==================== FOOTER ====================*/

footer{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1em;
    margin: 2% 0 1%;
    padding: 2%;
}

.derechos{
    display: block;
    padding: 2% 0 1%;
}
